@charset "utf-8";

/* CSS Document */
body{
overflow:auto;
}


.menu_item_inhab{
    color:grey;
    font-size: 0.9em;
}

.verReg_label{
    color:rgb(100, 13, 13);
    font-size: 0.9em;
    font-weight: bold;
}

.verReg_campo{
    color:rgb(10, 10, 107);
    font-size: 0.9em; 
}

.checkbox_prematricula:checked~.custom-control-label::before{
    background-color:green;
}

.pagination > li > a{
    background-color: white;
    color:green;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: darkgreen;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: green !Important;
    border: solid 1px green !Important;
}

.pagination > .active > a:hover
{
    background-color: green !Important;
    border: solid 1px green;
}

.tablaExpediente {
    height: 500px;
    overflow: auto;
    scrollbar-width: auto;            /* Firefox */
}

/* Scrollbar visible en navegadores basados en WebKit (Chrome, Edge, etc.) */
.tablaExpediente::-webkit-scrollbar {
    width: 8px;
}

.tablaExpediente::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.tablaExpediente::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}