@charset "utf-8";

/* CSS Document */

.menu_item_inhab{
    color:grey;
    font-size: 0.9em;
}

.verReg_label{
    color:rgb(100, 13, 13);
    font-size: 0.9em;
    font-weight: bold;
}

.verReg_campo{
    color:rgb(10, 10, 107);
    font-size: 0.9em; 
}

.checkbox_prematricula:checked~.custom-control-label::before{
    background-color:green;
}

.pagination > li > a{
    background-color: white;
    color:green;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: darkgreen;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: green !Important;
    border: solid 1px green !Important;
}

.pagination > .active > a:hover
{
    background-color: green !Important;
    border: solid 1px green;
}

.table-wrapper {
    width: 100%;
    height: 500px; /* Altura de ejemplo */
    overflow: auto;
  }
  
  .table-wrapper table {
    border-collapse: separate;
    border-spacing: 0;
  }
  
  .table-wrapper table thead {
    position: -webkit-sticky; /* Safari... */
    position: sticky;
    top: 0;
    left: 0;
  }
  
  .table-wrapper table thead th,
  .table-wrapper table tbody td {
    /*border: 1px solid #000;*/
    background-color: #FFF;
  }