@charset "utf-8";
/* CSS Document */

.centrado{
	position:absolute;
	float:left; 
	margin: 0 auto; 
	left:0; 
	right:0;
}

.borde{
	border:double; 
	border-color:#060; 
	border-radius:10px;
}


.textoboton{
	font-size:0.75em !important;
}

.no-close {
  display: none;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: green;  
    border-radius: 50%;
}
.mi-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color:green;
}












