docs/
docs_/
logs/
__transferencia_docs_ulaboral_a_nas_local/
_archivos_antiguos/
.vs/
impresos/versiones_antiguas/
*.sql
*.code-workspace
php/excel/
ele.php
ele.csv
@eaDir
añadir_a_htaccess.txt
Guía de formato de ficheros CSV.*
_git_viejo y jodido/
codigo_convalidaciones.txt
Cropper.txt
js/._DAV/secretaria.js.dir
js/._DAV/secretaria.js.pag
